@page
@model WebDB_CarDealership.Pages.Manufacturs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Производитель</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturers.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturers.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturers.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturers.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturers.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturers.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturers.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturers.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturers.Staff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturers.Staff.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Manufacturers.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к таблице</a>
    </form>
</div>
